<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>RMA Non Laptop List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/multi-select.css') }}"
    />
  </head>

  <body>
    <div class="search-container">
      <h1>RMA Non Laptop List</h1>

      <button
        onclick="window.location.href='{{ url_for('non_laptop.non_laptop_input') }}'"
      >
        Input
      </button>
      <button
        class="orange"
        onclick="window.location.href='{{ url_for('index.show_landing_page') }}'"
      >
        Home
      </button>
      <form
        method="POST"
        action="{{ url_for('non_laptop.show_RMA_non_laptop_sheet') }}"
        class="search-form"
      >
        <div style="display: flex">
          <div style="width: 100%; display: grid">
            <label style="margin-bottom: 5px">Tracking #</label>
            <input
              style="width: auto; padding: 10px"
              id="tracking_number"
              name="tracking_number"
              type="text"
              placeholder="Enter tracking number"
            />
          </div>
          <div style="width: 100%; display: grid">
            <label style="margin-bottom: 5px">Name</label>
            <input
              style="width: auto; padding: 10px"
              id="name"
              name="name"
              type="text"
              placeholder="Enter name"
            />
          </div>
        </div>
        <div
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
          "
        >
          <div style="display: flex; align-items: center">
            <select style="width: auto; margin-left: 10px" name="brand">
              <option value="" disabled selected>Category</option>
              <option value="Electronic">Electronic Devices</option>
              <option value="Printer">Printer</option>
              <option value="Monitor">Monitor</option>
              <option value="Other">Other</option>
            </select>

            <div class="multi-select" style="width: 200px">
              <div class="select-bar">Inspection Request</div>
              <div class="dropdown">
                <div class="option" data-value="Full inspection">
                  Full inspection
                </div>
                <div class="option" data-value="Quick Check">Quick Check</div>
                <div class="option" data-value="As it">As it</div>
              </div>
              <input
                type="hidden"
                name="inspection_request"
                id="inspection_requestt"
                value=""
              />
            </div>

            <div class="multi-select" style="width: 200px">
              <div class="select-bar">Condition</div>
              <div class="dropdown">
                <div class="option" data-value="Back to New">Back to New</div>
                <div class="option" data-value="Grade A">Grade A</div>
                <div class="option" data-value="Grade B">Grade B</div>
                <div class="option" data-value="Grade C">Grade C</div>
                <div class="option" data-value="Grade F">Grade F</div>
              </div>
              <input
                type="hidden"
                name="conditions"
                id="conditions_input"
                value=""
              />
            </div>
          </div>

          <button style="margin-right: 15px" type="submit">Search</button>
        </div>
      </form>

      <div
        style="
          display: flex;
          align-items: center;
          justify-content: space-between;
        "
      >
        <div style="display: flex; align-items: center">
          <span>Total Count: {{total_count}} | Selected Count: <span id="selected-count">0</span></span>
          <div id="selection-buttons" style="margin: 0px 10px; display: none; gap: 10px;">
            <button id="action-button-1" class="red">Request</button>
            <button id="action-button-2" class="orange">Condition</button>
          </div>
        </div>
        <div class="column-filter-container">
          <button id="column-filter-btn">Filter ▼</button>
          <div id="column-filter-menu" class="column-filter-menu hidden">
            <label
              ><input type="checkbox" id="toggle-nonlaptop-rec-date" /> Rec
              Date</label
            >
            <label
              ><input type="checkbox" id="toggle-nonlaptop-tracking" checked />
              Tracking#</label
            >
            <label
              ><input type="checkbox" id="toggle-nonlaptop-name" checked />
              Name</label
            >
            <label
              ><input type="checkbox" id="toggle-nonlaptop-location" checked />
              Location</label
            >
            <label
              ><input type="checkbox" id="toggle-nonlaptop-category" checked />
              Category</label
            >
            <label
              ><input
                type="checkbox"
                id="toggle-nonlaptop-inspectReq"
                checked
              />
              Inspection Request</label
            >
            <label
              ><input type="checkbox" id="toggle-nonlaptop-condition" checked />
              Condition</label
            >
          </div>
        </div>
      </div>
    </div>
    {% if items|length > 0 %}
    <table id="rma-table">
      <tr>
        <th class="sortable selection-col hidden" data-sort="selection">Select</th>
        <th data-sort="ReceivedDate" class="sortable rec-date-nonlaptop-col">
          Rec Date ↕
        </th>
        <th data-sort="TrackingNumber" class="sortable tracking-nonlaptop-col">
          Tracking# ↕
        </th>
        <th data-sort="Name" class="sortable name-nonlaptop-col">Name ↕</th>
        <th data-sort="Location" class="sortable location-nonlaptop-col">
          Location ↕
        </th>
        <th data-sort="Category" class="sortable category-nonlaptop-col">
          Category ↕
        </th>
        <th
          data-sort="InspectionRequest"
          class="sortable inspectReq-nonlaptop-col"
        >
          Inspection Request ↕
        </th>
        <th data-sort="Condition" class="sortable condition-nonlaptop-col">
          Condition ↕
        </th>
      </tr>
      {% for item in items %}
      <tr class="clickable-row" data-id="{{ item.ID }}">
        <td class="selection-col hidden clickable-copy" style="display: flex; justify-content: center;" onclick="toggleCheckbox(this)">
          <input type="checkbox" class="row-select" data-id="{{ item.ID }}" />
        </td>
        <td class="rec-date-nonlaptop-col">{{ item.ReceivedDate}}</td>
        <td class="tracking-nonlaptop-col">{{ item.TrackingNumber }}</td>
        <td class="name-nonlaptop-col">{{ item.Name }}</td>
        <td class="location-nonlaptop-col">{{ item.Location }}</td>
        <td class="category-nonlaptop-col">
          {% if item.Category == 'Electronic' %}Electronic Devices{% else %}{{
          item.Category }}{% endif %}
        </td>
        <td
          class="inspectReq-nonlaptop-col {% if item.InspectionRequest == 'A' %}condition-red{% elif item.InspectionRequest == 'B' %}condition-b{% elif item.InspectionRequest == 'C' %}condition-n{% endif %}"
        >
          {% if item.InspectionRequest == 'A' %}Full inspection{% endif %} {% if
          item.InspectionRequest == 'B' %}Quick Check{% endif %} {% if
          item.InspectionRequest == 'C' %}As it{% endif %}
        </td>
        <td
          class="condition-nonlaptop-col {% if item.Condition == 'N' %}condition-n{% elif item.Condition == 'A' %}condition-a{% elif item.Condition == 'B' %}condition-b{% elif item.Condition == 'C' %}condition-c{% elif item.Condition == 'F' %}condition-f{% endif %}"
        >
          {% if item.Condition == 'N' %}Back to new{% endif %} {% if
          item.Condition == 'A' %}Grade A{% endif %} {% if item.Condition == 'B'
          %}Grade B{% endif %} {% if item.Condition == 'C' %}Grade C{% endif %}
          {% if item.Condition == 'F' %}Grade F{% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No Record in inventory.</p>
    {% endif %}
    <script src="{{ url_for('static', filename='js/laptop.js') }}"></script>
    <script>
      function toggleCheckbox(tdElement) {
        const checkbox = tdElement.querySelector('.row-select');
        if (checkbox) {
          checkbox.checked = !checkbox.checked;
          updateSelectedCount();
        }
      }

      function updateSelectedCount() {
        const selectedCheckboxes = document.querySelectorAll('.row-select:checked');
        const selectedCount = selectedCheckboxes.length;
        const selectedCountElement = document.getElementById('selected-count');
        const selectionButtons = document.getElementById('selection-buttons');

        selectedCountElement.textContent = selectedCount;

        // Show or hide buttons based on selected count
        if (selectedCount >= 1) {
          selectionButtons.style.display = 'flex'; // Show buttons
        } else {
          selectionButtons.style.display = 'none'; // Hide buttons
        }
      }

      document.querySelectorAll('.row-select').forEach(checkbox => {
        checkbox.addEventListener('change', updateSelectedCount);
      });

      updateSelectedCount();
    </script>
  </body>
</html>
