<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Laptop Sales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Laptop Sales</h1>
    <button onclick="window.location.href='{{ url_for('laptop.laptop_item.laptop_item_detail', id=laptop.ID) }}';"
        class="red">
        Back
    </button>
    <table>
        {% if laptop %}
        <tr>
            <th>Brand</th>
            <td>{{ laptop.Brand }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ laptop.Model }}</td>
        </tr>
        <tr>
            <th>Specification</th>
            <td>{{ laptop.Spec }}</td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td>{{ laptop.SerialNumber }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td {% if laptop.Stock !='SOLD' %} {% if laptop.Condition=='N' %}class="condition-n" {% endif %} {% if
                laptop.Condition=='A' %}class="condition-a" {% endif %} {% if laptop.Condition=='B'
                %}class="condition-b" {% endif %} {% if laptop.Condition=='C' %}class="condition-c" {% endif %} {% if
                laptop.Condition=='F' %}class="condition-f" {% endif %} {% endif %}>
                {% if laptop.Condition == 'N' %}Back to new{% endif %}
                {% if laptop.Condition == 'A' %}Grade A{% endif %}
                {% if laptop.Condition == 'B' %}Grade B{% endif %}
                {% if laptop.Condition == 'C' %}Grade C{% endif %}
                {% if laptop.Condition == 'F' %}Grade F{% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">No laptop found with this serial number.</td>
        </tr>
        {% endif %}
    </table>

    <form method="POST" action="{{ url_for('laptop.laptop_sales.sales_order') }}">
        <input type="hidden" name="id" value="{{ laptop.ID }}">
        <div class="form-group">
            <label for="order">Order Number:</label>
            <input type="text" id="order" name="order" placeholder="e.g., 256212333-A" required>
        </div>
        <div class="flex-row">
            <div class="form-group">
                <label for="ram">RAM:</label>
                <select id="ram" name="ram" required>
                    <option value="" disabled>Select RAM</option>
                    <option value="4GB" {% if laptop.Spec.split('+')[0]=='4GB' %}selected{% endif %}>4GB</option>
                    <option value="8GB" {% if laptop.Spec.split('+')[0]=='8GB' %}selected{% endif %}>8GB</option>
                    <option value="12GB" {% if laptop.Spec.split('+')[0]=='12GB' %}selected{% endif %}>12GB</option>
                    <option value="16GB" {% if laptop.Spec.split('+')[0]=='16GB' %}selected{% endif %}>16GB</option>
                    <option value="24GB" {% if laptop.Spec.split('+')[0]=='24GB' %}selected{% endif %}>24GB</option>
                    <option value="32GB" {% if laptop.Spec.split('+')[0]=='32GB' %}selected{% endif %}>32GB</option>
                    <option value="40GB" {% if laptop.Spec.split('+')[0]=='40GB' %}selected{% endif %}>40GB</option>
                    <option value="48GB" {% if laptop.Spec.split('+')[0]=='48GB' %}selected{% endif %}>48GB</option>
                    <option value="64GB" {% if laptop.Spec.split('+')[0]=='64GB' %}selected{% endif %}>64GB</option>
                </select>
            </div>
            <div class="form-group">
                <label for="ssd">Storage:</label>
                <select id="ssd" name="ssd" required>
                    <option value="" disabled>Select storage</option>
                    <option value="64GB" {% if laptop.Spec.split('+')[1]=='64GB' %}selected{% endif %}>64GB EMMC SSD</option>
                    <option value="128GBe" {% if laptop.Spec.split('+')[1]=='128GBe' %}selected{% endif %}>128GB EMMC SSD</option>
                    <option value="128GB" {% if laptop.Spec.split('+')[1]=='128GB' %}selected{% endif %}>128GB SSD</option>
                    <option value="256GB" {% if laptop.Spec.split('+')[1]=='256GB' %}selected{% endif %}>256GB SSD</option>
                    <option value="512GB" {% if laptop.Spec.split('+')[1]=='512GB' %}selected{% endif %}>512GB SSD</option>
                    <option value="1TB" {% if laptop.Spec.split('+')[1]=='1TB' %}selected{% endif %}>1TB SSD</option>
                    <option value="2TB" {% if laptop.Spec.split('+')[1]=='2TB' %}selected{% endif %}>2TB SSD</option>
                    <option value="4TB" {% if laptop.Spec.split('+')[1]=='4TB' %}selected{% endif %}>4TB SSD</option>
                </select>
            </div>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>