<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Laptop Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Laptop Details</h1>
    <button onclick="window.location.href='{{ url_for('laptop.show_RMA_laptop_sheet') }}';"
        class="red" >
        Back
    </button>

    <button onclick="window.location.href='{{ url_for('laptop.laptop_sales.sales_detail', id=laptop.ID) }}';"
        class="skyblue{% if laptop.Stock == 'SOLD' %} disabled{% endif %}"
        {% if laptop.Stock == 'SOLD' %}disabled{% endif %}>
        Sales
    </button>

    <button onclick="window.location.href='{{ url_for('laptop.laptop_item.edit_item', id=laptop.ID) }}';"
        class="orange">
        Edit
    </button>

    <button {% if laptop.TechDone != True %}onclick="window.location.href='{{ url_for('laptop.laptop_item.tech_done', id=laptop.ID) }}';"{% endif %}
        class="lightgreen{% if laptop.Stock != 'SOLD' or laptop.TechDone %} disabled{% endif %}"
        {% if laptop.Stock != 'SOLD' or laptop.TechDone %}disabled{% endif %}>
        Done
    </button>

    <button onclick="window.location.href='{{ url_for('laptop.laptop_item.check_item', id=laptop.ID) }}';"
    class="red {% if laptop.Checking == 1 %} disabled{% endif %}">
    Checked
    </button>


    <table>
        {% if laptop %}
        <tr>
            <th>Brand</th>
            <td>{{ laptop.Brand }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ laptop.Model }}</td>
        </tr>
        <tr>
            <th>Specification</th>
            <td>
                {% if laptop.UpDatedSpec %}
                <s>{{ laptop.Spec }}</s> → {{ laptop.UpDatedSpec }}
                {% else %}
                {{ laptop.Spec }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Serial Number</th>
            <td>{{ laptop.SerialNumber }}</td>
        </tr>
        <tr>
            <th>Odoo Code</th>
            <td>{{ laptop.OdooRef or '' }}</td>
        </tr>
        <tr>
            <th>Condition</th>
            <td {% if laptop.Stock !='SOLD' %} {% if laptop.Condition=='N' %}class="condition-n" {% endif %} {% if
                laptop.Condition=='A' %}class="condition-a" {% endif %} {% if laptop.Condition=='B'
                %}class="condition-b" {% endif %} {% if laptop.Condition=='C' %}class="condition-c" {% endif %} {% if
                laptop.Condition=='F' %}class="condition-f" {% endif %} {% endif %}>
                {% if laptop.Condition == 'N' %}Back to new{% endif %}
                {% if laptop.Condition == 'A' %}Grade A{% endif %}
                {% if laptop.Condition == 'B' %}Grade B{% endif %}
                {% if laptop.Condition == 'C' %}Grade C{% endif %}
                {% if laptop.Condition == 'F' %}Grade F{% endif %}
            </td>
        </tr>
        <tr>
            <th>Stock</th>
            <td {% if laptop.Stock=='SOLD' %}class="sold" {% endif %}>{{ laptop.Stock or 'In Stock' }}</td>
        </tr>
        <tr>
            <th>SKU</th>
            <td>{{ laptop.SKU or '' }}</td>
        </tr>
        <tr>
            <th>Order Number</th>
            <td>{{ laptop.OrderNumber or 'None' }}</td>
        </tr>
        <tr>
            <th>Sealed</th>
            <td>{{ '✅' if laptop.Sealed else '❌' }}</td>
        </tr>
        <tr>
            <th>Odoo Record</th>
            <td>{{ '✅' if laptop.OdooRecord else '❌' }}</td>
        </tr>
        <tr>
            <th>Tech Done</th>
            <td>{{ '✅' if laptop.TechDone else '❌' }}</td>
        </tr>
        <tr>
            <th>Remark</th>
            <td>{{ laptop.Remark or 'None' }}</td>
        </tr>
        <tr>
            <th>Last Edited User</th>
            <td>{{ laptop.LastModifiedUser or '' }}</td>
        </tr>
        <tr>
            <th>Last Edited DateTime</th>
            <td>{{ laptop.LastModifiedDateTime or '' }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="2">No laptop found with this serial number.</td>
        </tr>
        {% endif %}
    </table>

    <div class="image-gallery">
        <h1>Images</h1>
        {% if image_files %}
        {% for image in image_files %}
        <img src="{{ url_for('laptop.laptop_item.serve_image', id=laptop.ID|default(0), filename=image)|safe }}" alt="Laptop Image">
        {% endfor %}
        {% else %}
        <p>No images available for this laptop.</p>
        {% endif %}
    </div>

</body>

</html>